// Base
$yellow: #e2cd41;
$blue: #3c8ee0;
$black: #000000;
$red: #d83636;
$green: #36d86c;
$green-dog: #16b174;
$green-dog-2: #11925f;

// Others
$gray: #e6e6e6;
$black-gray: #333;

.txt-color-yellow {
    color: $yellow;
}
.txt-color-blue {
    color: $blue;
}
.txt-color-black {
    color: $black;
}
.txt-color-red {
    color: $red;
}
.txt-color-green {
    color: $green;
}