// Merriweather
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@mixin font-merriweather-regular {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-regular {
    @include font-merriweather-regular;
}

// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@mixin font-montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-regular {
    @include font-montserrat-regular;
}

// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@mixin font-open-sans-regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans-regular {
    @include font-open-sans-regular;
}

// Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@mixin font-raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.raleway-regular {
    @include font-raleway-regular;
}

// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@mixin font-roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-regular {
    @include font-roboto-regular;
}