@mixin font-base {
    @include font-open-sans-regular;
    color: $black-gray;
    font-size: 14px;
    line-height: 18px;
}
.text {
    @include font-base;

    &[data-color='amarelo'] {
        color: $yellow;
    }

    &[data-color='azul'] {
        color: $blue;
    }

    &[data-color='preto'] {
        color: $black;
    }

    &[data-color='vermelho'] {
        color: $red;
    }

    &[data-color='verde'] {
        color: $green;
    }

    &[data-font='merriweather'] {
        @include font-merriweather-regular();
    }

    &[data-font='montserrat'] {
        @include font-montserrat-regular();
    }

    &[data-font='opensans'] {
        @include font-open-sans-regular();
    }

    &[data-font='raleway'] {
        @include font-raleway-regular();
    }

    &[data-font='roboto'] {
        @include font-roboto-regular();
    }
}