#alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 9999;

    &.warning {
        background-color: $red;
    }

    &.success {
        background-color: $green;
    }

    .text {
        color: #FFFFFF;
        text-align: center;
    }
}