.btn {
    width: 100%;
    max-width: 320px;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    @include font-base;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
    cursor: pointer;

    &.primary {
        background-color: $green-dog;
        border: 1px solid $green-dog;
        color: #FFF;

        &:hover {
            background-color: $green-dog-2;
            border-color: $green-dog-2;
        }
    }

    &.secondary {
        background-color: #FFFFFF;
        border: 1px solid $green-dog;
        color: $green-dog;

        &:hover {
            background-color: $green-dog-2;
            border-color: $green-dog-2;
            color: #FFF;
        }
    }
}