.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    min-height: 450px;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);

    .card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray;
        border-radius: 100%;
        width: 150px;
        height: 150px;
        padding: 10px;
        margin: 0 0 20px;
        overflow: hidden;
        box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);

        img {
            max-width: 120%;
            height: auto;
        }
    }

    .card-name {
        font-size: 22px;
        line-height: 24px;
        text-align: center;
    }
}