.form-group {
    width: 100%;
    margin: 0 0 30px;
    position: relative;

    .inpt-legend {
        @include font-base;
        position: absolute;
        top: 12px;
        left: 11px;
        transition: all 0.3s;

        &.up-label {
            font-size: 12px;
            line-height: 14px;
            top: -15px;
            left: 5px;
        }
    }

    .txt-field,
    .select-field {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $gray;
        border-radius: 5px;
        color: $black-gray;
        outline: initial;
        transition: all 0.3s;
        @include font-base;

        &:hover,
        &:focus {
            border-color: $black-gray;
        }
    }
}