.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid $gray;
    box-shadow: 5px 0px 15px -5px rgba(0,0,0,0.3);

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;

        ~ .main-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 350px);
            height: 100%;
            margin-left: 350px;
        }
    }

    @media screen and (max-width: 767px) {
        max-width: 260px;

        &.fixed {
            ~ .main-content {
                width: calc(100% - 260px);
                margin-left: 260px;
            }
        }
    }

    @media screen and (max-width: 640px) {
        max-width: 100%;

        &.fixed {
            position: relative;
            bottom: initial;
            right: 0;
            width: 100%;
            height: auto;

            ~ .main-content {
                flex-direction: column;
                width: 100%;
                height: auto;
                margin-left: 0;
                padding: 40px 20px;
            }
        }
    }
    
}